.welcome-background{
	display: flex;
	flex-direction: row;
	background-color:cornsilk;
	position:absolute;
	height: 100%;
	width: 100%;
}

.welcome-pic{
	height:100%;
	width:35%;
	background-image: url("../assets/welcome.jpg.jpg");
	background-size:contain;
	background-repeat: no-repeat;
}

.missing-container{
	background-color: #1c2729;
	position:absolute;
	height: 100%;
	width: 100%;
}

.missing-text{
	color:beige;
	font-family: Helvetiva Neue, sans-serif;
	font-size:xx-large;
	font-weight: bold;
}

.welcome-container{
	color:rgb(0, 0, 0);
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	margin-left: 40px;
	font-size: 23px;
}

.signup-container{
	background-image: url("../assets/login.jpg");
	position:absolute;
	background-size: cover;
	height:100%;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-direction: column;
}

.login-container{
	background-image: url("../assets/login.jpg");
	position:absolute;
	background-size: cover;
	height:100%;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-direction: column;
}

.welcome-button{
	height: 55px;
	width: 300px;

}

.login-form-div{
	background-color: rgba(255, 255, 255, .7);
	border-radius: 10px;
}

.signup-form-div{
	background-color: rgba(255, 255, 255, .7);
	border-radius: 10px;
}

.input-form{
	width:200px;
	height:27px;
	border-radius: 5px;
	border: none;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.submit-button{
	height: 30px;
	width: 200px;
	background-color:#17a9c2;
	color: white;
	border: none;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.submit-button:hover{
	cursor: pointer;
	background-color:#0894ac;
}

.login-tag{
	display:inline;
	font-size:28px;
	margin-bottom:0px;
	font-weight:bold;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.home-background{
	background-color: white;
	display: flex;
	flex-direction: row;
}

.recipe-container{
	background-color: beige;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:20px;
	height:200px;
	width:350px;
	display:flex;
	flex-direction: column;
}

.recipe-container-top{
	display:flex;
	flex-direction: row;
	height: 180px;
}

.pic-container{
	height:80px;
}